 body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        
        header {
            background-color: #333;
            color: white;
            padding: 15px;
            text-align: center;
            font-style: italic;
            position: sticky;
        
        }
        h2{
            text-align: center;
            font-style: italic;
        }
        section:nth-child(1){
            background-image: url("../imagen/fotomoiia.jpg");
            background-size: cover;
            text-align: center;
            min-height: 200vh;
            display: flex;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #444;
            padding: 10px;
        }

        nav a {
            text-decoration: none;
            margin: 0 7px;
        }

        nav button {
            background-color: gray;
            color: white;
            border: none;
            padding: 20px 32px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.3s;
        }

        nav button:hover {
            background-color: #0056b3;
        }

        main {
            padding: 20px;
            text-align: center;
        }
        section:nth-child(2){
            background-color: #ccc;
            background-size: cover;
            text-align: center;
            container-type: inline-size;
            min-height: 100vh;
            display: flex;
            
        }
        
        .container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: auto;
        }
        .container button {
            background-color: burlywood;
            color: white;
            border: none;
            padding: 45px 84px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.3s;
            margin-top: 10px;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }
